:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --button-color: #4D5AE5;
    --white-color:#FFFFFF;
    --button-portfolio:#F4F4FD;
    /* основной цвет #434455*/
    /* вторичній на заголовках #2E2F42 */
    /* цвет кнопки #4D5AE5*/
}



body {
    background-color: ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* logo */
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

span {
    color: var(--button-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

ul {
    list-style: none;
}
/* навигация сайта в hed */
.site-nav {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--button-color);
}

.mail {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.contacts .mail:hover,:focus{
    color: var(--button-color);
}

.phone { 
    color: var(--primary-text-color);font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.contacts .phone:hover,:focus{
    color: var(--button-color);
}
/* hero */
.hero-title {
    background-color:#2E2F42; 
    color: var(--white-color);
    width: 1440px;
    height: 603px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
}

.button-hero {
    background-color: var(--button-color);
    color: var(--white-color);
    width: 170px;
    height: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

/* what are we doing */
.section-title h3 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.team-work h2 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.section-team h2 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.section-names h3 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.section-footer{
    background-color: var(--title-text-color);
    color: #E7E9FC;
    width: 1440px;
    height: 310px;  
}

.logo-footer{
    color: #F4F4FD;
    
}

      /*  Portfolio page */
 .button-btn{
    background-color: var(--button-portfolio);
    color: var(--button-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
 }

.button-list .button-btn:hover,:focus{
    background-color: var(--button-color);
    color: var(--white-color);
}

.section-portfolio h2 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

